/* html, body {
  height: 100%;
  margin: 0px;
  position: relative;
} */

footer {
  background-image: url("https://media3.giphy.com/media/pcLw0jLBelkbK/200.webp?cid=ecf05e479pl6pmglm5l4bx9kf4guhzrqxjh4zo0byneainl7&rid=200.webp");
}
.mainBody {
  height: 100%;
  margin-bottom: -100px;
}

.push {
  height: 200px;
}

#sticky-footer {
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 100px; */
  /* bottom: 0px; */
  /* width: 100%; */
}

#footerText,
#navBttn,
#appLogo {
  color: white;
  background-color: black;
  border-radius: 30px;
  border: solid white 5px;
  filter: brightness(120%);
}

#footerText {
  width: 300px;
}

#navBttn {
  margin: 0px 40px 0px 40px;
  width: 188px;
  text-align: center;
}
.mr-auto {
  padding-right: 100px;
}

.allNav {
  background-image: url("https://media0.giphy.com/media/3o6Ztl7RvfwCp9mqhW/200.webp?cid=ecf05e47rt2zyismfaiu0p13nctl3o7tvntpibdpnsufiu03&rid=200.webp");
  padding: 4%;
}

/* #appLogo {
  color: black;
  border-radius: 10px;
  border: solid rgb(223, 224, 200) 2px;
  filter: brightness(120%);
} */

/* #resultHeader {
  background-image: url("");
} */

#searchCard {
  align-items: center;
  width: 50%;
  background-image: url("");
  margin-left: 25%;
}

#trailerCard {
  background-image: url("");
  width: 50%;
  float: left;
}

/* #movieInfoCard {
  background-image: url("https://us.123rf.com/450wm/kilroy79/kilroy791506/kilroy79150600303/41638473-points-gris-teint%C3%A9s-seamless-pattern-fond-blanc-.jpg?ver=6");
  width: 50%;
  float: right;
} */
